* {
    margin: 0px;
    padding: 0 px;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: Arial;
    margin: 1rem;

}

nav ul li {
    display: inline;
    padding-left: 2rem;
    color: white;
}

.link {
    text-decoration:none;
}

a {
    color: white;
    font-size: 2rem;
}

nav {
    background-color: hsl(220, 50%, 50%);
    height: 75px;
    border-bottom: 25px solid #0d033f;
}

.masthead {
    
    
    height: 300px;
    background-image:url("/Assignment-03/img/bg.jpg");

}

